<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] [%level] [%logger{36}] %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
  <!-- Do not show DEBUG level logging to make print debugging easier -->
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>
